<div class="flex justify-between items-center py-4 px-12 font-semibold text-[15px]">
  <div class="flex items-center gap-6">
    <div class="flex items-center gap-2 cursor-pointer mr-2">
			<img class="size-12" src="assets/images/logo.png" alt="vegetables logo">
      <p class="text-xl">FarmLink</p>
    </div>
    <a>Home</a>
    <a class="flex items-center">
      Categories
      <span>
        <img class="size-5" src="assets/icons/chevron-down.svg" alt="chevron down" /> </span
    ></a>
    <a>All products</a>
  </div>
  <div class="flex items-center gap-6">
    <div class="flex items-center relative font-medium">
      <input type="text" placeholder="Search..." class="text-[#444] pr-12 pl-5 w-75 bg-soft py-2.5 rounded-full placeholder-[#555]"/>
      <img class="absolute size-5 right-5" src="assets/icons/search.svg" alt="search icon" />
    </div>
    <img class="size-5 cursor-pointer"  src="assets/icons/user.svg" alt="user icon" />
    <img class="size-5 cursor-pointer"  src="assets/icons/shopping-cart.svg" alt="shopping cart icon" />
  </div>
</div>
